<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div>
    {{last_updated | date:'dd.MM.yyyy HH:mm (z)':moment().format("Z")}}
  </div>
  <div>
    pres.={{ dataPresSeries[0].data | number:'1.0-0'}}mBar,
    temp={{ (dataTempSeries[0].data-32)/1.8 | number:'1.0-2' }}C°,
    hVWC={{ dataVWCSeries[0].data | number:'1.1-1'}}%,
    load={{ dataBatSeries[0].data | number:'1.1-1'}}%,
    sleep={{ dataSleepSeries[0].data }}min
  </div>
</div>

