<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div>
    {{last_updated | date:'full':'+01'}} (latest)
  </div>
  <div>
    pressure={{ dataPresSeries[0].data }}mBar,
    temp={{ dataTempSeries[0].data }}C°,
    load={{ dataBatSeries[0].data }}%,
    sleept={{ dataSleepSeries[0].data }}min
  </div>
  <br>
  <div>

    {{dataPresSeries[9].created_at | date:'full':'+01'}} (comparison)
  </div>
  <div>
    pressure={{ dataPresSeries[9].data }}mBar,
    temp={{ dataTempSeries[9].data }}C°,
    load={{ dataBatSeries[9].data }}%,
    sleept={{ dataSleepSeries[9].data }}min
  </div>
</div>
